<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.equipmentMan.mapper.EqClassroomTestMapper">
    
    <resultMap type="EqClassroomTest" id="EqClassroomTestResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="orderNum"    column="order_num"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="status"    column="status"    />
        <result property="className"    column="class_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectEqClassroomTestVo">
        select id, parent_id, order_num, ancestors, status, class_name, create_by, create_time, update_by, update_time from eq_classroom
    </sql>

    <select id="selectEqClassroomTestList" parameterType="EqClassroomTest" resultMap="EqClassroomTestResult">
        <include refid="selectEqClassroomTestVo"/>
        <where>  
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="className != null  and className != ''"> and class_name like concat('%', #{className}, '%')</if>
        </where>
    </select>
    
    <select id="selectEqClassroomTestById" parameterType="Long" resultMap="EqClassroomTestResult">
        <include refid="selectEqClassroomTestVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEqClassroomTest" parameterType="EqClassroomTest" useGeneratedKeys="true" keyProperty="id">
        insert into eq_classroom
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="ancestors != null">ancestors,</if>
            <if test="status != null">status,</if>
            <if test="className != null">class_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="ancestors != null">#{ancestors},</if>
            <if test="status != null">#{status},</if>
            <if test="className != null">#{className},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateEqClassroomTest" parameterType="EqClassroomTest">
        update eq_classroom
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="ancestors != null">ancestors = #{ancestors},</if>
            <if test="status != null">status = #{status},</if>
            <if test="className != null">class_name = #{className},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEqClassroomTestById" parameterType="Long">
        delete from eq_classroom where id = #{id}
    </delete>

    <delete id="deleteEqClassroomTestByIds" parameterType="String">
        delete from eq_classroom where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>