<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.equipmentMan.mapper.EqEqmentMapper">
    
    <resultMap type="EqEqment" id="EqEqmentResult">
        <result property="id"    column="id"    />
        <result property="eqmentName"    column="eqment_name"    />
        <result property="eqmentNumber"    column="eqment_number"    />
        <result property="eqmentStatus"    column="eqment_status"    />
        <result property="eqmentType"    column="eqment_type"    />
        <result property="classroomId"    column="classroom_id"    />
        <result property="proDate"    column="pro_date"    />
        <result property="buyDate"    column="buy_date"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap id="EqEqmentEqClassResult" type="EqEqment" extends="EqEqmentResult">
        <collection property="eqClassList" notNullColumn="sub_id" javaType="java.util.List" resultMap="EqClassResult" />
    </resultMap>

    <resultMap type="EqClass" id="EqClassResult">
        <result property="id"    column="sub_id"    />
        <result property="parentId"    column="sub_parent_id"    />
        <result property="className"    column="sub_class_name"    />
        <result property="createBy"    column="sub_create_by"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="updateBy"    column="sub_update_by"    />
        <result property="updateTime"    column="sub_update_time"    />
    </resultMap>

    <sql id="selectEqEqmentVo">
        select id, eqment_name, eqment_number, eqment_status, eqment_type, classroom_id, pro_date, buy_date, remark from eq_eqment
    </sql>

    <select id="selectEqEqmentList" parameterType="EqEqment" resultMap="EqEqmentResult">
        <include refid="selectEqEqmentVo"/>
        <where>  
            <if test="eqmentName != null  and eqmentName != ''"> and eqment_name like concat('%', #{eqmentName}, '%')</if>
            <if test="eqmentStatus != null  and eqmentStatus != ''"> and eqment_status = #{eqmentStatus}</if>
            <if test="eqmentType != null  and eqmentType != ''"> and eqment_type = #{eqmentType}</if>
        </where>
    </select>
    
    <select id="selectEqEqmentById" parameterType="Long" resultMap="EqEqmentEqClassResult">
        select a.id, a.eqment_name, a.eqment_number, a.eqment_status, a.eqment_type, a.classroom_id, a.pro_date, a.buy_date, a.remark,
 b.id as sub_id, b.parent_id as sub_parent_id, b.class_name as sub_class_name, b.create_by as sub_create_by, b.create_time as sub_create_time, b.update_by as sub_update_by, b.update_time as sub_update_time
        from eq_eqment a
        left join eq_class b on b.id = a.id
        where a.id = #{id}
    </select>
        
    <insert id="insertEqEqment" parameterType="EqEqment" useGeneratedKeys="true" keyProperty="id">
        insert into eq_eqment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eqmentName != null">eqment_name,</if>
            <if test="eqmentNumber != null">eqment_number,</if>
            <if test="eqmentStatus != null">eqment_status,</if>
            <if test="eqmentType != null">eqment_type,</if>
            <if test="classroomId != null">classroom_id,</if>
            <if test="proDate != null">pro_date,</if>
            <if test="buyDate != null">buy_date,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eqmentName != null">#{eqmentName},</if>
            <if test="eqmentNumber != null">#{eqmentNumber},</if>
            <if test="eqmentStatus != null">#{eqmentStatus},</if>
            <if test="eqmentType != null">#{eqmentType},</if>
            <if test="classroomId != null">#{classroomId},</if>
            <if test="proDate != null">#{proDate},</if>
            <if test="buyDate != null">#{buyDate},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateEqEqment" parameterType="EqEqment">
        update eq_eqment
        <trim prefix="SET" suffixOverrides=",">
            <if test="eqmentName != null">eqment_name = #{eqmentName},</if>
            <if test="eqmentNumber != null">eqment_number = #{eqmentNumber},</if>
            <if test="eqmentStatus != null">eqment_status = #{eqmentStatus},</if>
            <if test="eqmentType != null">eqment_type = #{eqmentType},</if>
            <if test="classroomId != null">classroom_id = #{classroomId},</if>
            <if test="proDate != null">pro_date = #{proDate},</if>
            <if test="buyDate != null">buy_date = #{buyDate},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEqEqmentById" parameterType="Long">
        delete from eq_eqment where id = #{id}
    </delete>

    <delete id="deleteEqEqmentByIds" parameterType="String">
        delete from eq_eqment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteEqClassByIds" parameterType="String">
        delete from eq_class where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteEqClassById" parameterType="Long">
        delete from eq_class where id = #{id}
    </delete>

    <insert id="batchEqClass">
        insert into eq_class( id, parent_id, class_name, create_by, create_time, update_by, update_time) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.parentId}, #{item.className}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime})
        </foreach>
    </insert>
</mapper>